citybus.jpg
czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcHg5NDY4MTEtaW1hZ2Uta3d5bnlxajEuanBn.webp
czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvc3YxOTkxNzMtaW1hZ2Uta3d2dWc5Z2kuanBn.webp
sudo_top original backup.png
sudo_background_stars original copy.png
sudo_background_matrix.png
sudo_background original backup.png
sources.txt
Untitled.jpeg
sudoku-puzzles-mysterious-folder-hand-wallpaper-preview.jpg
ji_guest _backup.html
.gitignore
sudo_background_city - Copy.png
seamless-fractal-pattern-1521909500zPH.jpg
sudo_top - backup before rezising.png
glowing-sky-glow-light-shine-nature-wallpaper.png
home_background_ice - original bakcup.png
home_background_fractal - original backup.png
home_background_fractal.png
home_background_ice.png
home_background_reflection original backup.jpg
Ice_texture_2022-03-04.jpg
battersea.png
sudo_background_stars.png
sudo_top.png
contact_background original backup.jpg
home_top_cottage - original backup.jpg
Red_Public_Phone_Boxes_-_Covent_Garden,_London,_England_-_July_10,_2012.JPG
contact_top original backup.JPG
contact_project - original backup.jpg
background_placeholder_contact.png
background_placeholder_guest.png
background_placeholder_sudo.png
background_placeholder_temp.png
background_placeholder.png
home_top_cottager.jpg
guest_placeholder.png
contact_placeholder.png
patties_background_seagull - original backup.jpg
patties_background_winter original backup.jpg
patties_background_winter.jpg
patties_project cropped.jpg
patties_top - original copy.jpg
patties_background_seagull.jpg
home_top_cottage backup resize.jpg
patties_project - resize backup.jpg
patties_top backup resize.jpg
sudo_project - backup before resize.gif
sudo_top backup resize.jpg
tests/css_checker_home_first.png
tests/home_desktop_first.png
tests/home_mobile_first.png
tests/patties_desktop_first.png
tests/patties_mobile_first.png
tests/sudoku_desktop_first.png
tests/sudoku_mobile_first.png
ji_project_patties.html
tests/css_checker_patties_first.png
tests/css_checker_sudoku_first.png
tests/html_checker_home_first.png
tests/html_checker_patties_first.png
tests/html_checker_sudoku_first.png
tests/css_home_first.png
tests/css_patties_first.png
tests/css_sudoku_first.png
tests/home_accessability_first.png
sudo_project.webp
backups/background_placeholder_patty.png
backups/battersea.jpg
backups/contact_background.jpg
backups/contact_project.jpg
backups/contact_top.jpg
backups/home_background_reflection.jpg
backups/home_patties.jpg
backups/home_sudo.jpg
backups/home_top_cottage.jpg
backups/Image_placeholder1.png
backups/Image_placeholder2.png
backups/patties_background_savonlinna.jpg
backups/patties_project.jpg
backups/patties_top.jpg
backups/patty_kuvat_placeholder.png
backups/patty_placeholder.png
backups/Placeholder.png
backups/Projekti1_ProjektikuvaPlaceholder.png
backups/Projektit_Placeholder.png
backups/sudo_background_city.png
backups/sudo_background_stars.jpg
backups/sudo_kuvat_placeholder.png
backups/sudo_placeholder.png
backups/sudo_top.jpg
backups/vaara_koko.png
backups/0contact_top.jpg
backups/0home_top_cottage.jpg
backups/0patties_top.jpg
backups/0Projektit_Placeholder.png
backups/0sudo_top.jpg
backups/contact_top backup.webp
backups/home_top_cottage backup.webp
backups/patties_top backup.webp
backups/sudo_top backup.webp
