body {
    font-family: Arial, sans-serif;
}

.background-image {
    background-position-x: center;
    background-position-y: top;
}

.background-image-fixed {
    background-attachment: fixed
}


.background-purple {
    background-color: rgb(165, 120, 165);
}

.max-width {
    width: 718px;
    max-width: 100%;
    margin: auto;
    margin-top: 38px;
    margin-bottom: 38px;
}

.max-width-noscale {
    width: 718px;
    margin: auto;
    margin-top: 38px;
    margin-bottom: 38px;
}

.max-width-temp {
    border-color: blue;
    border-width: 5px;
    border-style: solid;
    width: 718px;
    max-width: 100%;
    margin: auto;
    margin-top: 38px;
    margin-bottom: 38px;
}

.max-width-and-height {
    width: 718px;
    max-width: 100%;
    height: 302px;
    margin: auto;
    margin-top: auto;
    margin-bottom: 38px;
}

.max-width-and-height-temp {
    border-color: blue;
    border-width: 5px;
    border-style: solid;
    width: 718px;
    max-width: 100%;
    height: 302px;
    margin: auto;
    margin-top: auto;
    margin-bottom: 38px;
}

.search-bar {
    border-color: gray;
    border-width: 2px;
    border-style: solid;
    width: 228px;
    margin: auto;
}

.search-div {
    border-width: 19px;
    text-align: center;
}

.projects {
    width: 114px;
}

.projects-div {
    margin: auto;
    margin-bottom: 19px;
    display: flex;
    justify-content: space-between;
}

.seprojects-div-backup {
    text-align: center;
    margin-bottom: 19px;
}

.image-links {
    width: 171px;
    height: min (171px, 95%);
    max-width: 95%;
    max-height: 95%;
    border-radius: 50%;
}

.align-center {
    text-align: center;
}

.project-image {
    width: 340px;
    height: min (340px, 95%);
    max-width: 95%;
    max-height: 95%;
    display: inline-block;
}

.project-image-temp {
    width: 340px;
    height: min (340px, 95%);
    max-width: 95%;
    max-height: 95%;
    border-width: 2px;
    border-style: solid;
    border-color: green;
    display: inline-block;
}

.project-text {
    width: 359px;
    max-width: 100%;
    display: inline-block;
    vertical-align: top;
}

.project-text-temp {
    width: 359px;
    max-width: 100%;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(34, 0, 128);
    display: inline-block;
    vertical-align: top;
}

.search-results {
    width: 228px;
    margin: auto;
}

.dashed-line {
    border-width: 4px;
    border-style: dashed;
    border-color: rgb(0, 0, 0);
}

.text-outline-black {
    color: azure;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.text-outline-white {
    color: black;
    text-shadow:
        -1px -1px 0 rgb(240, 255, 255),
        1px -1px 0 rgb(240, 255, 255),
        -1px 1px 0 rgb(240, 255, 255),
        1px 1px 0 rgb(240, 255, 255);
}

.text-outline-orange {
    text-shadow:
        -1px -1px 0 orange,
        1px -1px 0 orange,
        -1px 1px 0 orange,
        1px 1px 0 orange;
}

.text-outline {
    text-shadow:
        -1px -1px 0 rgb(206, 187, 187),
        1px -1px 0 rgb(206, 187, 187),
        -1px 1px 0 rgb(206, 187, 187),
        1px 1px 0 rgb(206, 187, 187);
}

.header-outline-black {
    text-shadow:
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        2px 2px 0 #000;
}

.header-outline-orange {
    text-shadow:
        -2px -2px 0 orange,
        2px -2px 0 orange,
        -2px 2px 0 orange,
        2px 2px 0 orange;
}

.header-outline-white {
    color: black;
    text-shadow:
        -2px -2px 0 rgb(240, 255, 255),
        2px -2px 0 rgb(240, 255, 255),
        -2px 2px 0 rgb(240, 255, 255),
        2px 2px 0 rgb(240, 255, 255);
}

.top-image {
    width: 688px;
    height: min (300px, 100%);
    min-height: 148px;
    max-width: max(100%, 299px);
    border-radius: 20%;
}

.top-h1 {
    text-align: center;
    margin-top: max(-245px, -50%);
    margin-bottom: 57px;
    font-size: 76px;
    padding-top: 8px;
}

.links-background{
    background-color: rgba(255, 153, 0, 0.8);
    width: 152px;
    max-width: 100%;
    margin-left:19px;
    margin-right: 19px;
    border-radius: 30%;
    text-align:center;
}

.links-background:hover{
    background-color: rgba(56, 56, 56, 0.8);
}

.links{
    font-size:20px;
    text-decoration: none;
}

a.links:link{
    color:rgb(255, 255, 255);
}

a.links:visited{
    color:rgb(255, 255, 255);
}

a.links:hover{
    color:rgb(255, 255, 255);
}

a.links:active{
    color:rgb(39, 138, 10);
}

.borders{
    border-color: rgb(255,255,255);
    border-width: 5px;
    border-style: solid;
    border-radius: 50%;
}

.label-hidden{
    visibility: hidden;
}

.input-field {
    text-align: center;
    margin-bottom: 8px;
}

