body {
    font-family: Arial, sans-serif;
}

.background_image {
    background-position-x: center;
    background-position-y: top;
}

.background_image_fixed {
    background-attachment: fixed
}

.background_light_gray {
    background-color: RGB(219 219 219);
}

.background_purple {
    background-color: rgb(165, 120, 165);
}

.max_width {
    width: 718px;
    max-width: 100%;
    margin: auto;
    margin-top: 38px;
    margin-bottom: 38px;
}

.max_width_noscale {
    width: 718px;
    margin: auto;
    margin-top: 38px;
    margin-bottom: 38px;
}

.max_width_temp {
    border-color: blue;
    border-width: 5px;
    border-style: solid;
    width: 718px;
    max-width: 100%;
    margin: auto;
    margin-top: 38px;
    margin-bottom: 38px;
}

.max_width_temp {
    border-color: blue;
    border-width: 5px;
    border-style: solid;
    width: 718px;
    max-width: 100%;
    margin: auto;
    margin-top: 38px;
    margin-bottom: 38px;
}

.max_width_and_height {
    width: 718px;
    max-width: 100%;
    height: 302px;
    margin: auto;
    margin-top: auto;
    margin-bottom: 38px;
}

.max_width_and_height_temp {
    border-color: blue;
    border-width: 5px;
    border-style: solid;
    width: 718px;
    max-width: 100%;
    height: 302px;
    margin: auto;
    margin-top: auto;
    margin-bottom: 38px;
}

.search_bar {
    border-color: gray;
    border-width: 2px;
    border-style: solid;
    width: 228px;
    margin: auto;
}

.search_div {
    border-width: 19px;
    text-align: center;
}

.projects {
    width: 114px;
}

.projects_div {
    margin-bottom: 19px;
    margin-left: 38px;
    margin-right: 38px;
    display: flex;
    justify-content: space-between;
}

.projects_div_backup {
    text-align: center;
    margin-bottom: 19px;
}

.image_links {
    height: 171px;
    max-width: 100%;
    border-radius: 50%;
}

.align_center {
    text-align: center;
}

.project_image {
    width: 340px;
    max-width: 95%;
    display: inline-block;
}

.project_image_temp {
    width: 340px;
    max-width: 95%;
    border-width: 2px;
    border-style: solid;
    border-color: green;
    display: inline-block;
}

.project_text {
    width: 359px;
    max-width: 100%;
    display: inline-block;
    vertical-align: top;
}

.project_text_temp {
    width: 359px;
    max-width: 100%;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(34, 0, 128);
    display: inline-block;
    vertical-align: top;
}

.search_results {
    width: 228px;
    margin: auto;
}

.dashed_line {
    border-width: 4px;
    border-style: dashed;
    border-color: rgb(0, 0, 0);
}


.text_outline_black {
    color: azure;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.text_outline_white {
    color: black;
    text-shadow:
        -1px -1px 0 rgb(240, 255, 255),
        1px -1px 0 rgb(240, 255, 255),
        -1px 1px 0 rgb(240, 255, 255),
        1px 1px 0 rgb(240, 255, 255);
}

.text_outline_orange {
    text-shadow:
        -1px -1px 0 orange,
        1px -1px 0 orange,
        -1px 1px 0 orange,
        1px 1px 0 orange;
}

.text_outline {
    text-shadow:
        -1px -1px 0 rgb(206, 187, 187),
        1px -1px 0 rgb(206, 187, 187),
        -1px 1px 0 rgb(206, 187, 187),
        1px 1px 0 rgb(206, 187, 187);
}

.header_outline_black {
    text-shadow:
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        2px 2px 0 #000;
}

.header_outline_orange {
    text-shadow:
        -2px -2px 0 orange,
        2px -2px 0 orange,
        -2px 2px 0 orange,
        2px 2px 0 orange;
}

.header_outline_white {
    color: black;
    text-shadow:
        -2px -2px 0 rgb(240, 255, 255),
        2px -2px 0 rgb(240, 255, 255),
        -2px 2px 0 rgb(240, 255, 255),
        2px 2px 0 rgb(240, 255, 255);
}

.top_image {
    max-height: 340px;
    max-width: 100% !important;
    border-radius: 20%;
}

.top_h1 {
    text-align: center;
    margin-top: max(-245px, -50%);
    margin-bottom: 57px;
    font-size: 76px;
    padding-top: 8px;
}

.links_background{
    background-color: rgba(255, 153, 0, 0.8);
    width: 152px;
    max-width: 100%;
    margin-left:19px;
    margin-right: 19px;
    border-radius: 30%;
    text-align:center;
}

.links_background:hover{
    background-color: rgba(56, 56, 56, 0.8);
}

.links{
    font-size:20px;
    text-decoration: none;
}

a.links:link{
    color:rgb(255, 255, 255);
}

a.links:visited{
    color:rgb(255, 255, 255);
}

a.links:hover{
    color:rgb(255, 255, 255);
}

a.links:active{
    color:rgb(39, 138, 10);
}

.borders{
    border-color: (255,255,255);
    border-width: 5px;
    border-style: solid;
    border-radius: 50%;
}

.label_hidden{
    visibility: hidden;
}

.input_field {
    text-align: center;
    margin-bottom: 8px;
}

